<mjml>
  <mj-head>
    <mj-title>Your have an awaiting order</mj-title>
    <mj-preview>Your have an awaiting order.</mj-preview>
    <mj-font name="Inter" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"></mj-font>
    <mj-attributes>
      <mj-all font-family="Inter, Arial, sans-serif"></mj-all>
      <mj-text font-weight="400" font-size="16px" color="#111827" line-height="24px"></mj-text>
      <mj-section padding="0px"></mj-section>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section padding-top="32px">
      <mj-column>
        <mj-image width="56px" height="56px" src="https://www.online-image-editor.com//styles/2014/images/example_image.png" />
      </mj-column>
    </mj-section>
    <mj-section padding-top="24px">
      <mj-column>
        <mj-text align="center" font-size="30px" font-weight="600" line-height="36px">
          We're still waiting ;)
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="24px">
      <mj-column>
        <mj-text padding="0">
          Hi {{billingFirstName}},<br />
          We noticed that you have an awaiting order. Please check the order details bellow:
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="24px">
      <mj-column>
        <mj-text align="right" padding-right="0" font-size="14px" line-height="20px">
          Order ID: {{orderId}}
        </mj-text>
      </mj-column>
    </mj-section>
    {{#each items}}
      <mj-section {{#if @first}}border-radius="8px 8px 0 0" {{/if}} background-color="#f3f4f6" padding="8px 4px">
        <mj-column>
          <mj-text align="left" font-size="20px" line-height="28px" font-weight="600">
            {{this.name}}
          </mj-text>
        </mj-column>
        <mj-column>
          <mj-text align="right" font-size="18px" line-height="28px">
            {{this.quantity}}
          </mj-text>
        </mj-column>
        <mj-column>
          <mj-text align="right" font-size="18px" line-height="28px">
            {{this.price}}
          </mj-text>
        </mj-column>
      </mj-section>
    {{/each}}
    <mj-section background-color="#f3f4f6" padding="8px 4px">
      <mj-column>
        <mj-text align="left" font-size="20px" line-height="28px" font-weight="600">
          Taxes ({{taxRate}})
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-text align="right" font-size="18px" line-height="28px">
          {{taxes}}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section border-radius="0 0 8px 8px" background-color="#f3f4f6" padding="8px 4px">
      <mj-column>
        <mj-text align="left" font-size="20px" line-height="28px" font-weight="600">
          Total
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-text align="right" font-size="24px" line-height="32px" font-weight="600">
          {{total}}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text align="left" padding-left="0" padding-bottom="0" color="#6b7280" font-weight="600" font-size="18px"
                 line-height="28px">
          Email
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-text align="right" padding-right="0" color="#6b7280">
          {{email}}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="48px">
      <mj-column>
        <mj-button padding="0" width="100%" height="50px" background-color="#4f46e5" color="white" font-weight="600" font-size="16px" line-height="24px" border-radius="6px" href="{{paymentLink}}" rel="nofollow">
          Pay now
        </mj-button>
      </mj-column>
    </mj-section>
    <mj-section padding-top="16px">
      <mj-column>
        <mj-text padding="0" font-size="14px" line-height="20px">
          If you cannot press the button above, please follow this link: <a href="{{paymentLink}}" target="_blank">{{paymentLink}}</a>.
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="32px">
      <mj-column>
        <mj-text padding="0" font-size="14px" line-height="20px">
          Please note that your order will be expired if payment is not successfuly made within 24 hours.
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
